{% load static %}

<!doctype html>
<html lang="ru">

	<head>
	
		<meta charset="utf-8">
		<title>Континуум: Династика</title>
		<link rel="icon" href="{% static 'icon.ico' %}" sizes="any">
		<link rel="stylesheet" href="{% static 'style.css' %}">
	
	</head>
	
	<body>
        
		<div class="layer">

            <div class="masterhead">

                <div class="blockhead">

                    <div class="itemhead">

                        <a href="home">

                            <img src="{% static 'logo_short.svg' %}" alt="">

                        </a>

                    </div>

                    <div class="itemhead">

                        <div class="menutext">

                            <a href="lore">Вселенная</a>
                            
                        </div>

                    </div>

                    <div class="itemhead">

                        <div class="menutext">

                            <a href="news">Новости</a>
                            
                        </div>

                    </div>

                </div>

                <div class="blockhead">

                    <div class="itemhead">

                        <a href="login">

                            <img src="{% static 'profile.svg' %}" alt="Вход">

                        </a>

                    </div>

                </div>

            </div>

            <div class="contentitem" style="background-image: url({% static 'home/ascention.png' %});">
                                
                <div class="contextXL">Династика</div>

                <div class="context">Тут текст про династику.</div>

            </div>

            <div class="masterbottom", id="text_block">

                <div class="blockbottom">

                    <div class="itemhead">

                        <a href="#text_block">

                            <img src="{% static 'arrow_down.svg' %}">

                        </a>

                    </div>

                </div>

            </div>

            <div class="griditem" style="background-image: url({% static 'home/helpus.png' %});">

                <div class="ingridtwothird">

                    <div class="gridtext">

                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

                    </div>

                </div>

                <div class="ingridthird">

                    <div class="gridtextL">Header</div>

                    <div class="gridtext">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</div>

                </div>

                <div class="ingridfull">

                    <div class="gridtext">

                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

                    </div>

                </div>

            </div>

            <div class="masterbottom">

                <div class="blockbottom">

                    <div class="itemhead">

                        <a href="home">

                            <img src="{% static 'logo_short.svg' %}">

                        </a>

                    </div>

                    <div class="itemhead">

                        <a href="https://vk.com/kontinuum_official">

                            <img src="{% static 'vk.svg' %}">

                        </a>

                    </div>

                </div>

                <div class="itemhead">

                    <div class="menutext">

                        <a href="legal">Правовая информация</a>
                        
                    </div>

                </div>

            </div>

        </div>

	</body>

</html>