{% load static %}

<!doctype html>
<html lang="ru">

	<head>
	
		<meta charset="utf-8">
		<title>Континуум</title>
		<link rel="icon" href="{% static 'icon.ico' %}" sizes="any">
		<link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'home/slider.css' %}">
        <script src="{% static 'home/slider.js' %}" defer></script>
	
	</head>
	
	<body>
        
		<div class="layer">

            <div class="masterhead">

                <div class="blockhead">

                    <div class="itemhead">

                        <a href="">

                            <img src="{% static 'logo_short.svg' %}" alt="">

                        </a>

                    </div>

                    <div class="itemhead">

                        <div class="menutext">

                            <a href="ascention">Восхождение</a>
                            
                        </div>

                    </div>

                    <div class="itemhead">

                        <div class="menutext">

                            <a href="dynastika">Династика</a>
                            
                        </div>

                    </div>

                    <div class="itemhead">

                        <div class="menutext">

                            <a href="lore">Вселенная</a>
                            
                        </div>

                    </div>

                    <div class="itemhead">

                        <div class="menutext">

                            <a href="news">Новости</a>
                            
                        </div>

                    </div>

                </div>

                <div class="blockhead">

                    <div class="itemhead">

                        <a href="login">

                            <img src="{% static 'profile.svg' %}" alt="Вход">

                        </a>

                    </div>

                </div>

            </div>

            <div class="itc-slider" data-slider="itc-slider" data-autoplay="true" data-interval="7000">

                <div class="itc-slider__wrapper">

                    <div class="itc-slider__items">

                        <div class="itc-slider__item">

                            <div class="contentitem" style="background-image: url({% static 'home/ascention.png' %});">
                                
                                <div class="contextXL">Восхождение</div>

                                <div class="context">Нанимайте могущественные отряды, проводите древние ритуалы, воссоздавайте реликвии прошлого! Победа на поле боя будет за вами.</div>

                            </div>

                        </div>

                        <div class="itc-slider__item">

                            <div class="contentitem" style="background-image: url({% static 'home/dynastika.png' %});">
                                
                                <div class="contextXL">Династика</div>

                                <div class="context">Текст про Династику</div>

                            </div>

                        </div>

                        <div class="itc-slider__item">

                            <div class="contentitem" style="background-image: url({% static 'home/lore.png' %});">
                                
                                <div class="contextXL">Рассказы</div>

                                <div class="context">Твои любимые сказки перед сном.</div>

                            </div>

                        </div>

                        <div class="itc-slider__item">

                            <div class="contentitem" style="background-image: url({% static 'home/news.png' %});">
                                
                                <div class="contextXL">Новости</div>

                                <div class="context">Узнайте о том, как продвигается разработка ваших любимых игр.</div>

                            </div>

                        </div>

                        <div class="itc-slider__item">

                            <div class="contentitem" style="background-image: url({% static 'home/helpus.png' %});">
                                
                                <div class="contextXL">Помочь проекту</div>

                                <div class="context">Стать частью большой семьи Континуума можно уже сейчас!</div>

                            </div>

                        </div>

                    </div>

                </div>
                
                <button class="itc-slider__btn itc-slider__btn_prev"></button>
                <button class="itc-slider__btn itc-slider__btn_next"></button>

            </div>

            <div class="masterbottom">

                <div class="blockbottom">

                    <div class="itemhead">

                        <a href="home">

                            <img src="{% static 'logo_short.svg' %}">

                        </a>

                    </div>

                    <div class="itemhead">

                        <a href="https://vk.com/kontinuum_official">

                            <img src="{% static 'vk.svg' %}">

                        </a>

                    </div>

                </div>

                <div class="itemhead">

                    <div class="menutext">

                        <a href="legal">Правовая информация</a>
                        
                    </div>

                </div>

            </div>

        </div>

	</body>

</html>